version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: hephaestus-db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./hephaestus_pgdata:/var/lib/postgresql/data

volumes:
  hephaestus_pgdata:
